.blured {
    animation: setblur 0.5s ease-in-out 1s both;
}

@keyframes setblur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}

.appear {
    animation: appear 1s ease-in-out 0.7s both;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}