@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* button {
  user-select: none;
  
}


:root {
  --color-primary: #333;
  --color-secondary: #e2b714;
  --color-tertiary: #ddd;
  --color-text: white;
  --color-iconstext: #4d4d4d;

}

.dark {
  --color-primary: #333; 
  --color-secondary: #e2b714;
  --color-secondary-hover: #dfc772;
  --color-tertiary: #2c2e31;
  --color-iconstext: #646669;
  --color-iconstext-hover: #d1d0c5;
  --color-text: white;
}


.light {
  --color-primary: #ddd;
  --color-secondary: #14649c;
  --color-tertiary: #14649c;
  --color-text: #14649c;
  --color-iconstext: #4d4d4d;
}

.vscode {
  --color-primary: #333;
  --color-secondary: #007acc;
  --color-tertiary: #007acc;
  --color-text: white;
  --color-iconstext: #4d4d4d;
}